# Dependências
/node_modules
/.pnp
.pnp.js

# Arquivos de build
/build
/dist
/.next/
/out/

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos do IDE
.idea/
.vscode/
*.swp
*.swo

# Coverage
/coverage
.nyc_output

# Debug
.npm
.eslintcache

# Local Netlify folder
.netlify

# Arquivos temporários
*.tmp
*.temp
.cache/

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/precache-*.js

# Vercel
.vercel
